body {
  margin: 0px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.component {
  height: 200px;
  width: 200px;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}